main {
  margin-top: 0.325rem;
  padding: 0.75rem 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* SCHEDULE HEADER CSS */

#schedule-header {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.schedule-header__text {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.schedule-header__text h1 {
  font: 700 var(--fs-xl)/2rem var(--ff-title);
}

.schedule-header__text p {
  font: 500 var(--fs-sm)/1.5rem var(--ff-base);
  color: var(--content-secondary);
}

/* SCHEDULE DATE CSS */

.schedule-date-picker {
  border: 1px solid var(--border-primary);
  border-radius: 0.5rem;
  padding: 0.75rem;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.schedule-date-picker input {
  color: var(--content-secondary);
}

/* SCHEDULE CONTENT CSS */

#schedule-content {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.appointment {
  background-color: var(--background-tertiary);
  border-radius: 0.625rem;
}

.appointment-header {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  padding: 0.75rem 1.25rem;
  border-bottom: 1px solid var(--border-divisor);
}

.appointment-header h2 {
  font: 700 var(--fs-md)/1.5rem var(--ff-base);
  margin-right: auto;
}

.appointment-period {
  font: 700 var(--fs-md)/1.5rem var(--ff-base);
  color: var(--content-secondary);
}

.appointment-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.25rem;
}

.appointment-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.75rem;
  border-bottom: 1px solid var(--border-divisor);
}

.appointment-card:last-child {
  border: none;
}

.appointment-card__info span {
  font: 500 var(--fs-sm)/1.5rem var(--ff-base);
  color: var(--content-secondary);
}

.appointment-card__title strong {
  font: 700 var(--fs-sm)/1.5rem var(--ff-base);
  color: var(--content-primary);
}

.appointment-card__title strong + strong {
  margin-left: 0.75rem;
}

.btn-delete {
  align-self: flex-end;
  font: 500 var(--fs-xs)/1rem var(--ff-base);
  color: var(--content-tertiary);
}

.btn-delete:hover {
  color: var(--content-primary);
}

/* NEW APPOINTMENT CSS */

.new-appointment-container {
  background-color: var(--background-tertiary);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1.125rem 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-new-appointment {
  background-color: var(--content-brand);
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  font: 700 var(--fs-md)/1.5rem var(--ff-base);
  box-shadow: 0px 4px 24px rgba(146, 130, 250, 0.4);
  color: var(--background-primary);
}

@media (min-width: 1200px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main {
    margin-top: 0;
    padding: 4rem 5rem;
  }

  #schedule-header {
    flex-direction: row;
    align-items: center;
    gap: 4rem;
  }

  .schedule-date-picker {
    height: 90%;
  }

  .appointment-card {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .appointment-card__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1; 
  }
  
  .appointment-card__title {
    display: flex;
    align-items: center;
    width: 60%;
  }

  .appointment-card__owner {
    margin-left: .25rem;
  }

  .btn-delete {
    align-self: center;
  }

  .new-appointment-container {
    background-color: transparent;
    width: fit-content;
    z-index: 1000;
    bottom: 0;
    left: auto;
    right: 0;
  }
}
